/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: white;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f07d00;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    max-width: 200px; /* Adjust as needed */
    height: auto;
    margin-top: 20px;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Section colors */
#kimiz {
    background: #00273a;
    color: white;
}

#magazalar {
    background: #f07d00;
    color: black;
}

#website {
    background: white;
    color: white;
}

#etkinlikler {
    background: #00273a;
    color: black;
}

#marketing {
    background: #f07d00;
    color: white;
}

/* Container styling */
.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 0 20px;
}

/* Footer */
footer {
    background: navy;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header .logo {
        max-width: 150px; /* Adjust as needed */
    }
}
